html
{
    font-size: 62.5%;      /* 1 rem equivale a 10px */
}

body
{
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
}

/* Globales */
.contenedor
{
    max-width: 100rem;
    margin: 0 auto;
}

/* Header Index */
.site-header.inicio
{
   background-image: url("../img/header.jpg"); 
   height: 100vh;
   min-height: 60rem;
   background-position: center center;
   background-size: cover;
}

.barra
{
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
    align-items: center;    
}

.navegacion a
{
    color: white;
    text-decoration: none;
    margin-right: 2rem;
}

.navegacion a:last-of-type
{
    margin: 0;
}

.navegacion a:hover
{
    color: #71b100;
}